[submodule "src/vendor/lodepng"]
	path = src/vendor/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "src/vendor/lz4"]
	path = src/vendor/lz4
	url = https://github.com/lz4/lz4.git
[submodule "src/vendor/imgui"]
	path = src/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "src/vendor/imgui-filebrowser"]
	path = src/vendor/imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser.git
[submodule "src/vendor/gl3w/gl3w"]
	path = src/vendor/gl3w/gl3w
	url = https://github.com/skaslev/gl3w.git
