[submodule "src/vendor/lodepng"]
	path = src/vendor/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "src/vendor/lz4"]
	path = src/vendor/lz4
	url = https://github.com/lz4/lz4.git
[submodule "src/vendor/imgui"]
	path = src/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
